:root {
    --back-g: rgb(32 32 32 / 75%);
    --border-radius: .7em;
    --blur: blur(20px);
    --code-font: Menlo, Monaco, 'Courier New', monospace;
    --font: Arial, Helvetica, sans-serif;
    --font-grey:#c7c9db;
    --drk-grey: rgba(37, 37, 37, 0.74);
    --mid-grey: rgb(59, 59, 59);
    --border-grey: #979797;
    --seperator: #bdbdbd;
}


















