html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video input{
	margin: 0;
	padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
    box-sizing: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;
    background: transparent;
    color: white;
}

body, .border {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(https://s.abcnews.com/images/Entertainment/GTY_golden_girls_kab_150903_16x9_1600.jpg);
    background: linear-gradient(45deg, #ffffff, #d0ff00, #ff9d00, #f700ff, #65008d);
    background: linear-gradient( #0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
    background-position: 0% 50%;
    background-size: 400% 400%;
    animation: AnimationName 10s ease infinite;    
} */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    /* background-image: url(https://s.abcnews.com/images/Entertainment/GTY_golden_girls_kab_150903_16x9_1600.jpg); */
    background: linear-gradient( #0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
    /* background: radial-gradient( #6800bd, #FF00BB, #E1FF00); */
    /* background-position: 100% 100%; */
    background-size: 400% 400%;
    /* animation: AnimationName 10s ease infinite;     */
    /* animation: radial-gradient 25s ease infinite;     */
}

@keyframes radial-gradient {
    0%{background-position: 100% 100%;}
    25%{background-position: 0% 100%;}
    75%{background-position: 100% 0%;}
    50%{background-position: 0% 0%;}
    100%{background-position: 100% 100%;}
}


/*  */
.border {
    display: flex;
    flex-direction: column;
}

.border h1 {
/* font-family: Menlo, Monaco, 'Courier New', monospace; */
font-family: Arial, Helvetica, sans-serif;
font-size: 3.5rem;
padding-bottom: .5em;
font-weight: 600;


color: rgb(0, 0, 0);
position: relative;
z-index: 2;
}

.input {
    position: relative;
    z-index: 2;
}

.inner {
    height: 100%;
    width: 100%;
    background: linear-gradient( #252525bc, transparent 101%);
    /* background-color: #000000;    */
    padding: 3em;
    border-radius: 3%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.scroll{
background-color: red;
}

.scroll-angle {
    width: 50%;
}

#keyframes {
    /* background-color: #6d707100; */
    padding: 2em;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    color: #ffffff;
    font-size: 1.05rem;
    margin-bottom: 1.5em;
    position: relative;
    z-index: 2;
    list-style: none;
}

.keyframes-radial{
    /* background-color: #6d707100; */
    padding: 2em;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    color: #ff0202;
    font-size: 1.05rem;
    margin-bottom: 1.5em;
    position: relative;
    z-index: 3;
    list-style: none;
    display: none;
}

.keyframes-con {
    position: relative;
    z-index: 1;
    /* border-radius: 1rem; */
}

.blur-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem;
    
    /* background: linear-gradient(#272727dc, #27272781); */
    background-color: #2929297d;
    backdrop-filter: blur(20px);

    /* filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px); */
}

#name-input {
    background-color: #2929297d;
    /* background: linear-gradient(#252525e3, #2525257a); */
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 1rem;
    color: #ffffff;
    padding: .8em;
    border-radius: 3em;
    border: none;
    margin: 1em;
    position: relative;
    z-index: 2;
    backdrop-filter: blur(8px);
}

.splat-img {
    /* max-height: 90%; */
    /* transform: rotate(180deg); */
    position: absolute;
    /* width: 95%; */
    height: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgb(31, 31, 31)), to(rgba(31, 31, 31, 0)));
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0)); */
    /* background-image: linear-gradient(45deg, #ffffff, #d0ff00, #ff9d00, #f700ff, #65008d); */
    /* background-clip: text; */
    /* opacity: 90%; */
    /* top: -8%; */
    /* right: 65%; */
    /* background-clip: text; */
    /* -webkit-background-clip: img;
    color: transparent;
    font-size: 5rem; */
    top: 0;
    right:0;
    left: 0;
    bottom: -5;
    z-index: -1;
}

.splat-img2 {
    /* max-height: 90%; */
    /* transform: rotate(180deg); */
    position: absolute;
    /* width: 95%; */
    height: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgb(31, 31, 31)), to(rgba(31, 31, 31, 0)));
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0)); */
    /* background-image: linear-gradient(45deg, #ffffff, #d0ff00, #ff9d00, #f700ff, #65008d); */
    /* background-clip: text; */
    /* opacity: 90%; */
    /* top: -8%; */
    /* right: 65%; */
    /* background-clip: text; */
    /* -webkit-background-clip: img;
    color: transparent;
    font-size: 5rem; */
    top: -100px;
    right:0;
    left: 0;
    bottom: 0;
        z-index: -1;

}
.splat-img3 {
    /* max-height: 90%; */
    /* transform: rotate(180deg); */
    position: absolute;
    /* width: 95%; */
    height: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgb(31, 31, 31)), to(rgba(31, 31, 31, 0)));
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0)); */
    /* background-image: linear-gradient(45deg, #ffffff, #d0ff00, #ff9d00, #f700ff, #65008d); */
    /* background-clip: text; */
    /* opacity: 90%; */
    /* top: -8%; */
    /* right: 65%; */
    /* background-clip: text; */
    /* -webkit-background-clip: img;
    color: transparent;
    font-size: 5rem; */
    top: -200px;
    right: -125px;
    left: 0;
    bottom: 0;
        z-index: -1;

}
.splat-img4 {
    /* max-height: 90%; */
    /* transform: rotate(180deg); */
    position: absolute;
    /* width: 95%; */
    height: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgb(31, 31, 31)), to(rgba(31, 31, 31, 0)));
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0)); */
    /* background-image: linear-gradient(45deg, #ffffff, #d0ff00, #ff9d00, #f700ff, #65008d); */
    /* background-clip: text; */
    /* opacity: 90%; */
    /* top: -8%; */
    /* right: 65%; */
    /* background-clip: text; */
    /* -webkit-background-clip: img;
    color: transparent;
    font-size: 5rem; */
    top: 0;
    right: 0;
    left: -500px;
    bottom: 0;
        z-index: -1;

}
.splat-img5 {
    /* max-height: 90%; */
    /* transform: rotate(180deg); */
    position: absolute;
    /* width: 95%; */
    height: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgb(31, 31, 31)), to(rgba(31, 31, 31, 0)));
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0)); */
    /* background-image: linear-gradient(45deg, #ffffff, #d0ff00, #ff9d00, #f700ff, #65008d); */
    /* background-clip: text; */
    /* opacity: 90%; */
    /* top: -8%; */
    /* right: 65%; */
    /* background-clip: text; */
    /* -webkit-background-clip: img;
    color: transparent;
    font-size: 5rem; */
    top: -200px;
    right: -100px;
    left: 0;
    bottom: 0;
        z-index: -1;

}

.header {
    display: flex;
}

.splat14 {
    width: 4em;
    /* height:2.0em; */
    /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(31, 31, 31, 0))); */
    padding-left: .5em;
    align-self: flex-end;
    padding-bottom: 1em;
    /* opacity: 55%; */
}

.color-button {
    position: relative;
    z-index: 2;
}

.color-container li {
    opacity: 100%;
}

.color-form {
    width: 50%;
    background-color: rgba(32, 32, 32, 0.609);
    backdrop-filter: blur(10px);
    padding: 1em;
}




/* .outer-gradient {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    background: 
    repeating-radial-gradient( 
        rgb(255, 0, 110),
        #ff95f4 100px
        );
    box-shadow: 0px 0px 20px 20px rgb(255, 0, 111);
} */

/* .sky {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    background: linear-gradient(rgb(255, 255, 255), rgb(174, 244, 255), rgb(0, 204, 255), rgb(0, 157, 255), rgb(0, 110, 255));
    background-size: 1000% 1000%;
    animation: gradient-animation 10s ease infinite;
} */

/* .inner {
    height: 90%;
    width: 90%;
    background-color: transparent;
    border: 10px solid black;
} */

