.outer {
    box-sizing: border-box;
    width: 35vw;
    height: 35vh;
    background: linear-gradient( #0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
    border: 3px solid white;
    margin: 1em 0;

    .inner {
        box-sizing: border-box;
        border: 3px solid rgb(0, 0, 0);
        width: 25%;
        height: 25%;
        // transform: translateX(0%) translateY(300%);
        // animation: box-anim 10s ease infinite;
        // animation: radial-box-anim 10s ease infinite;
    }
}

@keyframes box-anim {
    0% {transform: translateX(150%) translateY(0%);}
    50% {transform: translateX(150%) translateY(300%);}
    100% {transform: translateX(150%) translateY(0%);}
}

@keyframes radial-box-anim {
    0%{transform: translateX(300%) translateY(300%);}
    25%{transform: translateX(0%) translateY(300%);}
    50%{transform: translateX(0%) translateY(0%);}
    75%{transform: translateX(300%) translateY(0%);}
    100%{transform: translateX(300%) translateY(300%);}
}
/* @keyframes box-animation {
    0%{transform: translate(150% 0%)}
    50%{transform: translate(150% 300%)}
    100%{transform: translate(150% 0%)}
} */

/* .angle-disp-con {
    width: 20%;
    background-color: red;
} */
