.outer {
    box-sizing: border-box;
    width: 37vw;
    height: 37vh;
    background: linear-gradient( #0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
    border: 3px solid white;
    margin: 1em 0;

    .inner {
        box-sizing: border-box;
        border: 3px solid rgb(0, 0, 0);
        width: 25%;
        height: 25%;
        // transform: translateX(0%) translateY(300%);
        // animation: box-anim 10s ease infinite;
        // animation: radial-box-anim 10s ease infinite;
    }
}
// 300   0
// 0   300