.keyframes-con {
    // background-color: rgb(255, 230, 0);
    // width: 50%;
        padding: 1em;
}

#keyframes, .keyframes-radial  {
    background-color: var(--back-g);
    backdrop-filter: var(--blur);
    padding: 2em;
    font-family: var(--code-font);
    color: #cecece;
    font-size: 1rem;
    list-style: none;
    border-radius: var(--border-radius);
}

.keyframes-radial{
    display: none;
}

.name-input {
    background-color: var(--back-g);
    font-family: var(--code-font);
    font-size: 1rem;
    color: #ffffff;
    padding: .8em;
    border-radius: var(--border-radius);
    border: none;
    margin-bottom: 2em;
    backdrop-filter: var(--blur);
}