// .color-button {
//     position: relative;
//     z-index: 2;
// }

// .color-container li {
//     opacity: 100%;
// }

.color-form {
    // width: 50%;
    display: flex;
    
    // align-self: flex-start;
    // margin: 1em;
    justify-content: space-between;
    padding: 1em;
    // background-color: var(--drk-grey);
    background-color: rgba(39, 39, 39, 0.794);
}

// .color-form div {
//     backdrop-filter: var(--blur);
//     padding: 1.5em;
//     border-radius: var(--border-radius);
// background-color: var(--back-g);
// }

.apply-clr-err {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 253, 253);
    font-size: 1.2rem;
}

// .color-input:focus {
//     background-color: white;
// }

// ::-webkit-color-swatch-wrapper {
//     background-color: transparent;
// }

// #myAnchor:focus, a:active {
//   background-color: green;
// }

// .color-button {
//    position: relative;
// }

// input::-webkit-color-swatch-wrapper {
//     content: "";
//     background-color: transparent;
//     border: none;
// }

.color-tile-label {
    display: flex;
    flex-direction: column;
    background-color: grey;
}

._0 {
    background-color: red;
}

.container {
    h1 {
        color: rgb(255, 255, 255);
        font-family: var(--font);
        font-size: 1.8rem;
        letter-spacing: 3px;
        padding: .7rem .7rem .3rem .7rem;
    }

    h2 {
        color: rgb(200, 200, 200);
        font-family: var(--code-font);
        font-size: 1rem;
        letter-spacing: 3px;
        padding: 0 0 .9rem .9rem;
    }
}

.color-tiles {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: .9rem;
    height: 6rem;

    label {
        box-sizing: border-box;
        width: 100%;
        background-color: #0011FF;
        // min-height: 8rem;
        height: 100%;
        border-radius: .4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 1rem;
        cursor: pointer;
    }

    div {
        display: flex;
        // justify-content: space-between;
        background-color: #252525;
        // background-color: var(--mid-grey);
        font-family: var(--code-font);
        color: var(--font-grey);
        padding: .5em;
        border-radius: 0 0 .4rem .4rem;
    }

    div {
        display: flex;
        justify-content: space-between;
        background-color: #252525;
        // background-color: var(--mid-grey);
        font-family: var(--code-font);
        color: var(--font-grey);
        padding: .5em;
        border-radius: 0 0 .4rem .4rem;
    }

    label:hover div{
        background-color: black;
    }

    label:hover h2 {
        color: rgb(255, 255, 255);
    }
    
    input {
        cursor: pointer;
    }

    input:hover, span:hover  {
        color: #ffffff;
        text-decoration: underline;
    }     

    h2 {
        text-align: center;
        margin-top: 1em;
        font-size: .9rem;
    }
}

input[type="color"] {
    width: 100%;
    cursor: pointer;
    // background-color: white;
    // padding: none;
    // height: 100%;
    // max-width: 25%;
    // min-width: 8rem;
    // height: 2rem;
    // margin: 1rem;
    // min-height: 4rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    // border: none;
    // width: 100%;
    // height: 100%;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    padding: none;
    margin: none;
    // height: 100%;
    // border-radius: var(--border-radius);
    // width: 100%;
    // padding: 20px;
    // border: .12em solid rgb(0, 0, 0);
    // margin: 1em;
    // heights: 100px;
}