// .color-button {
//     position: relative;
//     z-index: 2;
// }

// .color-container li {
//     opacity: 100%;
// }

.color-form {
    // width: 50%;
    display: flex;
    
    // align-self: flex-start;
    // margin: 1em;
    justify-content: space-between;
    padding: 1em;
    // background-color: var(--drk-grey);
    background-color: rgba(39, 39, 39, 0.794);
}

// .color-form div {
//     backdrop-filter: var(--blur);
//     padding: 1.5em;
//     border-radius: var(--border-radius);
// background-color: var(--back-g);
// }

.apply-clr-err {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 253, 253);
    font-size: 1.2rem;
}

// .color-input:focus {
//     background-color: white;
// }

// ::-webkit-color-swatch-wrapper {
//     background-color: transparent;
// }

// #myAnchor:focus, a:active {
//   background-color: green;
// }

// .color-button {
//    position: relative;
// }

// input::-webkit-color-swatch-wrapper {
//     content: "";
//     background-color: transparent;
//     border: none;
// }

.color-tile-label {
    display: flex;
    flex-direction: column;
    background-color: grey;
}

._0 {
    background-color: red;
}

.color-tiles {
    display: flex;
    justify-content: center;
    width: 100%;
    // margin: 0 3em;
}

input[type="color"] {
    width: 100%;
    // height: 100%;
    // max-width: 25%;
    // min-width: 8rem;
    // height: 2rem;
    margin: 1rem;
    min-height: 4rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    // border: none;
    // width: 100%;
    // height: 100%;
}

input[type="color"]::-webkit-color-swatch {
    // height: 100%;
    border-radius: var(--border-radius);
    width: 100%;
    // padding: 20px;
    border: .12em solid rgb(0, 0, 0);
    // margin: 1em;
    // heights: 100px;
}