// .color-button {
//     position: relative;
//     z-index: 2;
// }

// .color-container li {
//     opacity: 100%;
// }

.color-form {
    width: 50%;
    background-color: var(--back-g);
    backdrop-filter: var(--blur);
    padding: 1.5em;
    border-radius: var(--border-radius);
    align-self: flex-start;
}

.apply-clr-err {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 255);
    font-size: 1.2rem;
}

// .color-input:focus {
//     background-color: white;
// }

// ::-webkit-color-swatch-wrapper {
//     background-color: transparent;
// }

// #myAnchor:focus, a:active {
//   background-color: green;
// }

// .color-button {
//    position: relative;
// }

// input::-webkit-color-swatch-wrapper {
//     content: "";
//     background-color: transparent;
//     border: none;
// }

.color-tile-label {
    display: flex;
    flex-direction: column;
    background-color: grey;
}