.footer {
        // height: 200px;
        display: flex;
        padding: 4rem 0;
        // justify-content: space-between;
        // align-items: center;

        width: 100%;
        background-color: rgb(119, 119, 119);

        background-image: url(./img/splat5.png);
        color: white;

        p {
            // padding: 0 1.3rem;
            font-family: var(--code-font); 
                padding-bottom: 1rem;

        }

        .one {
            display: flex;
            flex-direction: column;
            // background-color: red;
            width: 33.3%;
            justify-content: center;
            padding-left: 5rem;

            h1 {
                font-family: var(--font);
                font-size: 3.3rem;
                // padding: 1.3rem;
                letter-spacing: 3px;
                padding-bottom: 1.5rem;
            }
        }

        .two {
            display: flex;
            // background-color: green;

            justify-content: center;
            align-items: center;
            width: 33.3%;

            a {
                width: 16%;
                height: 50px;
                // background-color: red;
                filter: brightness(0) invert(1);
                padding: 1rem;

                img {
                    width: 100%;
                }
            }
        }

        .three {
            display: flex;
            flex-direction: column;
            // background-color: purple;
            width: 33.3%;
            align-items: flex-end;
            justify-content: center;
            padding-right: 5rem;
            // justify-self: flex-end;
            // text-align: end;

            h1 {
                font-size: 2.5rem;
                font-family: var(--font);
                letter-spacing: 3px;
            }
        }
}