.footer {
        // height: 200px;
        display: flex;
        padding: 4rem 0;
        // justify-content: space-between;
        // align-items: center;

        width: 100%;
        background-color: rgb(119, 119, 119);

        background-image: url(./img/splat5.png);
        color: white;

        p {
            // padding: 0 1.3rem;
            font-family: var(--code-font);  
        }

        .one {
            display: flex;
            flex-direction: column;
            // background-color: red;
            width: 33.3%;
            justify-content: center;
            padding-left: 2rem;

            
        }

        .two {
            display: flex;
            // background-color: green;

            justify-content: center;
            align-items: center;
            width: 33.3%;

            img {
                width: 16%;
                filter: brightness(0) invert(1);
                padding: 1rem;
            }
        }

        .three {
            display: flex;
            flex-direction: column;
            // background-color: purple;
            width: 33.3%;
            align-items: flex-end;
            justify-content: center;
            // justify-self: flex-end;
            // text-align: end;
        }

        

        h1 {
            font-family: var(--font);
            font-size: 3.3rem;
            // padding: 1.3rem;
            letter-spacing: 3px;
            padding-bottom: 1.5rem;
        }

        h2 {
            font-family: var(--code-font);
            font-size: 1.5rem;
            // padding: 0 1.3rem;
            // color: rgb(238, 255, 2);
            // font-weight: 600;
        }
    }