.button {
    background-color: var(--drk-grey);
    color: var(--font-grey);
    font-family: var(--font);
    padding: .7em .9em;
    margin: .2em;
    border-radius: 9999px;
    border: .15rem solid var(--mid-grey);
    cursor: pointer;
}