.button {
    box-sizing: border-box;
    background-color: #1d1d1d8f;
    // background-color: #e6a162;
    // background-color: #24bae8c5;
    color: var(--font-grey);
    // color: #c8c0ff;
    // color: #cc99e6;
    font-family: var(--code-font);
    padding: .8em 1em;
    margin: .2em;
    border-radius: 9999px;
    border: .15rem solid rgb(0, 0, 0);
    // border: .15rem solid rgb(0, 189, 189);
    cursor: pointer;
    // font-weight: 600;
    letter-spacing: .04rem;
    backdrop-filter: blur(8px);
    transition: .5s;
    margin: 0 .8em;
}

.teal-hov:hover, .teal-hov:active, .teal-hov:focus {
    background-color: rgba(0, 0, 0, 0.883);
    border: .15rem solid rgb(1, 255, 255);
    color: white;
}

.active {
    background-color: rgba(0, 0, 0, 0.883);
    border: .15rem solid rgb(1, 255, 255);
    color: white;
}

.purp-hov:hover, .purp-hov:active {
    background-color: rgba(0, 0, 0, 0.883);
    // border: .15rem solid rgb(208, 255, 0);
    border: .15rem solid #fbff00;
    color: white;
}

.mid-hov:hover, .mid-hov:active {
    background-color: rgba(0, 0, 0, 0.883);
    border: .15rem solid #FF00BB;
    // border: .15rem solid rgb(17, 0, 255);
    color: white;
}


input[type="range"] {
    -webkit-appearance: none;
    cursor: pointer;
    padding:  .8em;
    border-radius: 5rem;
}

input[type="range"]:focus {
 outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
 background: rgb(214, 214, 214);
 height: 5px;
}
input[type="range"]::-webkit-slider-runnable-track:hover {
 background: rgb(155, 155, 155);
//  height: 5px;
}

input[type="range"]::-moz-range-track {
 background: rgb(214, 214, 214);
 height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    margin-top: -5px;
    border-radius: 50%;
    border: 1px solid rgb(102, 102, 102);
}

input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    margin-top: -5px;
    border-radius: 50%;
    border: 1px solid rgb(102, 102, 102);
}

.speed-input::-webkit-slider-thumb {
    background-color: #ee3ebf;
}
.gradient-angle::-webkit-slider-thumb {
    background-color: #ffee00;
}
.scroll-angle::-webkit-slider-thumb {
    background-color: #2eebf1;
}

.speed-input::-webkit-slider-thumb:hover {
    background-color: #c50091;
    cursor: pointer;
}
.gradient-angle::-webkit-slider-thumb:hover {
    background-color: #b39800;
    cursor: pointer;
    
}
.scroll-angle::-webkit-slider-thumb:hover {
    background-color: rgb(0, 189, 189);
    cursor: pointer;
}