.button {
    background-color: #1d122e;
    // background-color: #e6a162;
    // background-color: #24bae8c5;
    color: #e2e2e2;
    font-family: var(--font);
    padding: .7em .9em;
    margin: .2em;
    border-radius: 9999px;
    border: .15rem solid var(--mid-grey);
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .03rem;
}