.header {
    display: flex;
    top: 0;
    // color: rgb(0, 0, 0);
    // font-family: var(--font);
    font-family: "Open Sans", Arial, "Helvetica Neue", sans-serif;;
    font-size: 4rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    padding: .6em 0;
}

.header h1 {
    padding: 0 .03em;
    // opacity: 80%;
}
