body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://s.abcnews.com/images/Entertainment/GTY_golden_girls_kab_150903_16x9_1600.jpg); */
    // background: linear-gradient( #0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
    /* background: radial-gradient( #6800bd, #FF00BB, #E1FF00); */
    /* background-position: 100% 100%; */
    // background-size: 60%;
    background-color: #5a5a5a;
    // background-image: url(./img/splat5.png);

    /* animation: AnimationName 10s ease infinite;     */
    /* animation: radial-gradient 25s ease infinite;     */
}

.gradient-back {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient( #0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
    background-size: 400% 400%;
    // animation: linear-gradient 60s ease infinite;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 83%;
    // background-color: rgba(82, 82, 82, 0.801);
    background-color: #5a5a5aa1;
    border-radius: .7rem .7rem 0 0;
    background-image: url(./img/splat5.png);
    // background-size: 140%;
    // background-position: 80% 60%;
    box-sizing: border-box;

    .palette {
        box-sizing: border-box;
        border-bottom: 1px solid rgb(202, 202, 202);
        padding: 1em 1em 1.5em 1em;
        // margin: 1.5em 1em;
        // border-radius: 1.5rem ;
        // backdrop-filter: blur(5px);
        // background-color: #707070a1;

    }

    .sect3 {
        display: flex;
        width: 100%;
        // background-color: red;

        .box-anim-con {
            background-color: aqua;
            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .slider-con {
            display: flex;
            background-color: yellow;
            width: 50%;
            // height: 100%;

            .sliders {
                display: flex;
                width: 50%;
                background-color: black;
                justify-content: center;
                // width: 100px;
            }

            .stat-display {
                background-color: green;
                width: 50%;
                // display: flex;
            }
        }
    }
}