body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://s.abcnews.com/images/Entertainment/GTY_golden_girls_kab_150903_16x9_1600.jpg); */
    // background: linear-gradient( #0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
    /* background: radial-gradient( #6800bd, #FF00BB, #E1FF00); */
    /* background-position: 100% 100%; */
    // background-size: 60%;
    background-color: #5a5a5a;
    // background-image: url(./img/splat5.png);

    /* animation: AnimationName 10s ease infinite;     */
    /* animation: radial-gradient 25s ease infinite;     */

    .footer {
        height: 200px;
        width: 100%;
        background-color: rgb(119, 119, 119);

        background-image: url(./img/splat5.png);
        color: white;

        h1 {
            font-family: var(--font);
            font-size: 3rem;
            padding: 1.3rem;
        }

        h2 {
            font-family: var(--code-font);
            font-size: 1.5rem;
            padding: 0 1.3rem;
            color: rgb(238, 255, 2);
            // font-weight: 600;
        }
        p {
            padding: 0 1.3rem;
            font-family: var(--code-font);
        }
    }
}

.gradient-back {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient( #0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
    background-size: 400% 400%;
    // animation: linear-gradient 60s ease infinite;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 88%;
    // background-color: rgba(82, 82, 82, 0.801);
    background-color: #686868d0;
    border-radius: .7rem;
    background-image: url(./img/splat5.png);
    // background-size: 140%;
    // background-position: 80% 60%;
    box-sizing: border-box;
    margin-bottom: 4em;
    // padding: 1em;


    .palette {
        box-sizing: border-box;
        border-bottom: 1px solid var(--seperator);
        padding: 2rem;
        // margin: 1.5em 1em;
        // border-radius: 1.5rem ;
        // backdrop-filter: blur(5px);
        // background-color: #707070a1;

        .palette-header {
            padding-bottom: 1rem;
            padding-left: 1rem;
        }
    }

    .sect3 {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: 1em 0;
        // background-color: red;

        .box-anim-con {
            box-sizing: border-box;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;
            
            .anim-sim {
                // background-color: red;
                align-self: flex-start;
                padding-bottom: 2rem;
                padding-left: 1rem;
            }
        }
        
        .slider-con-con {
            box-sizing: border-box;
            width: 50%; 
            // background-color: rgb(0, 47, 255);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-left: 1px solid var(--seperator);
            padding: 1rem 2rem;

            .anim-control {
                // background-color: red;  
                align-self: flex-start;
                padding-bottom: 2rem;
                padding-left: 1rem;  
                // margin-left: 1rem;        
            }

        

            .slider-con {
                // margin: 1em 0;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 38vw;
                height: 38vh;
                display: flex;
                border: 3px solid var(--border-grey);
                backdrop-filter: var(--blur);
                border-radius: var(--border-radius);

                .slider-top {
                    display: flex;
                    background-color: rgba(61, 61, 61, 0.589);
                    width: 100%;
                    justify-content: space-between;
                    border-radius: var(--border-radius) var(--border-radius) 0 0;

                    .slider-txt {
                        display: flex;
                        width: 70%;

                        // background-color: aqua;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;

                        .slider-line {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            span {
                                color: var(--font-grey);
                                font-family: var(--code-font);
                            }

                            .bullet-con {
                                display: flex;
                                align-items: center;
                            }

                            .bullet {
                                border-radius: 50%;
                                height: 14px;
                                width: 14px;
                                margin-left: 1em;
                            }

                            .one {
                                background-color: #ee3ebf;   
                            }
                            .two {
                                background-color: #ffee00;               
                            }
                            .three {
                                background-color: #2eebf1;
                            }
                        }
                    }

                    p {
                        color: var(--font-grey);
                        font-family: var(--code-font);
                        font-size: 1rem;
                        letter-spacing: 3px;
                        padding: 0 .8em;
                    }
                }

                .sliders {
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.562);
                    border-top: .5px solid var(--border-grey);
                    border-radius: 0 0 var(--border-radius) var(--border-radius);
                }
            }
        }
    }
}