:root {
  --back-g: rgb(32 32 32 / 75%);
  --border-radius: .7em;
  --blur: blur(20px);
  --code-font: Menlo, Monaco, 'Courier New', monospace;
  --font: Arial, Helvetica, sans-serif;
  --font-grey:#c7c9db;
  --drk-grey: rgb(37, 37, 37);
  --mid-grey: rgb(59, 59, 59);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-image: url(https://s.abcnews.com/images/Entertainment/GTY_golden_girls_kab_150903_16x9_1600.jpg); */
  background: -webkit-gradient(linear, left top, left bottom, from(#0011FF), color-stop(#8100D6), color-stop(#FF00BB), color-stop(#E1FF00), to(#00EEFF));
  background: linear-gradient(#0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
  /* background: radial-gradient( #6800bd, #FF00BB, #E1FF00); */
  /* background-position: 100% 100%; */
  background-size: 400% 400%;
  /* animation: AnimationName 10s ease infinite;     */
  /* animation: radial-gradient 25s ease infinite;     */
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gradient-back {
  min-height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#0011FF), color-stop(#8100D6), color-stop(#FF00BB), color-stop(#E1FF00), to(#00EEFF));
  background: linear-gradient(#0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.281);
}

@-webkit-keyframes radial-gradient {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes radial-gradient {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.outer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 35vw;
  height: 35vh;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(green));
  background: linear-gradient(red, green);
  border: 3px solid white;
}

.outer .inner2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid black;
  width: 25%;
  height: 25%;
  /* animation: box-animation 1s ease-in forwards; */
  /* transform: translate(150%, 0%); */
  /* transition: transform 1s ease-in; */
  -webkit-animation: box-anim 10s ease infinite;
          animation: box-anim 10s ease infinite;
  /* transform: translate(150% 0%); */
}

.outer:hover .inner2 {
  /* transform: translate(100%); */
  /* animation: box-animation 1s ease; */
}

@-webkit-keyframes box-anim {
  0% {
    -webkit-transform: translateX(150%) translateY(0%);
            transform: translateX(150%) translateY(0%);
  }
  50% {
    -webkit-transform: translateX(150%) translateY(300%);
            transform: translateX(150%) translateY(300%);
  }
  100% {
    -webkit-transform: translateX(150%) translateY(0%);
            transform: translateX(150%) translateY(0%);
  }
}

@keyframes box-anim {
  0% {
    -webkit-transform: translateX(150%) translateY(0%);
            transform: translateX(150%) translateY(0%);
  }
  50% {
    -webkit-transform: translateX(150%) translateY(300%);
            transform: translateX(150%) translateY(300%);
  }
  100% {
    -webkit-transform: translateX(150%) translateY(0%);
            transform: translateX(150%) translateY(0%);
  }
}

/* @keyframes box-animation {
    0%{transform: translate(150% 0%)}
    50%{transform: translate(150% 300%)}
    100%{transform: translate(150% 0%)}
} */
/* .angle-disp-con {
    width: 20%;
    background-color: red;
} */
.keyframes-con {
  background-color: #ffe600;
  width: 50%;
}

#keyframes, .keyframes-radial {
  background-color: var(--back-g);
  padding: 2em;
  font-family: var(--code-font);
  color: #cecece;
  font-size: .9rem;
  list-style: none;
}

.keyframes-radial {
  display: none;
}

#name-input {
  background-color: var(--back-g);
  font-family: var(--code-font);
  font-size: 1rem;
  color: #ffffff;
  padding: .8em;
  border-radius: var(--border-radius);
  border: none;
  margin: 1em;
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
}

.color-button {
  position: relative;
  z-index: 2;
}

.color-container li {
  opacity: 100%;
}

.color-form {
  width: 50%;
  background-color: var(--back-g);
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
  padding: 1.5em;
  border-radius: var(--border-radius);
}

.apply-clr-err {
  font-family: Arial, Helvetica, sans-serif;
  color: magenta;
  font-size: 1.2rem;
}

.splat {
  position: absolute;
  z-index: -1;
  height: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#1f1f1f), to(rgba(31, 31, 31, 0)));
}

.splat.a {
  top: 0;
  right: 0;
  left: 0;
  bottom: -5;
}

.splat.b {
  top: -100px;
  right: 0;
  left: 0;
  bottom: 0;
}

.splat.c {
  top: -200px;
  right: -125px;
  left: 0;
  bottom: 0;
}

.splat.d {
  top: 0;
  right: 0;
  left: -500px;
  bottom: 0;
}

.splat.e {
  top: -200px;
  right: -100px;
  left: 0;
  bottom: 0;
}

.splat14 {
  width: 4em;
  padding-left: .8em;
  padding-right: .8em;
  padding-bottom: 1em;
}

.angle-display-div {
  width: 20%;
  min-height: 10em;
  background: -webkit-gradient(linear, left top, left bottom, from(#0011FF), color-stop(#8100D6), color-stop(#FF00BB), color-stop(#E1FF00), to(#00EEFF));
  background: linear-gradient(#0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
  /* border-radius: var(--border-radius); */
  border: 0.1em solid white;
}

.scroll-knob {
  width: 10em;
  min-height: 10em;
  /* padding-bottom: 20%; */
  background-color: #272727;
  border-radius: 50%;
}

.grandparent {
  width: 300px;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0011FF), color-stop(#8100D6), color-stop(#FF00BB), color-stop(#E1FF00), to(#00EEFF));
  background: linear-gradient(#0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.2rem solid white;
  padding: 1em;
  margin: .5em 2em 2em 2em;
  border-radius: var(--border-radius);
}

.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 90%;
  border: 0.2rem solid #242424;
  border-radius: 50%;
}

.child {
  width: .2rem;
  height: 101%;
  background-color: #242424;
}

.knob-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* width: 50%; */
}

.scroll-angle-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scroll-angle {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 300px;
}

.button {
  background-color: var(--drk-grey);
  color: var(--font-grey);
  font-family: var(--font);
  padding: .7em .9em;
  margin: .5em;
  border-radius: var(--border-radius);
  border: 0.15rem solid var(--mid-grey);
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */