:root {
  --back-g: rgb(32, 32, 32, 0.75);
  --border-radius: .7rem;
  --blur: blur(20px);
  --code-font: Menlo, Monaco, 'Courier New', monospace;
  --font: Arial, Helvetica, sans-serif;
  --font-grey:#c7c9db;
  --drk-grey: rgba(37, 37, 37, 0.74);
  --mid-grey: rgb(59, 59, 59);
  --border-grey: #979797;
  --seperator: #bdbdbd;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-image: url(https://s.abcnews.com/images/Entertainment/GTY_golden_girls_kab_150903_16x9_1600.jpg); */
  /* background: radial-gradient( #6800bd, #FF00BB, #E1FF00); */
  /* background-position: 100% 100%; */
  background-color: #5a5a5a;
  /* animation: AnimationName 10s ease infinite;     */
  /* animation: radial-gradient 25s ease infinite;     */
}

body .footer {
  height: 200px;
  width: 100%;
  background-color: #777777;
  background-image: url(./img/splat5.png);
  color: white;
}

body .footer h1 {
  font-family: var(--font);
  font-size: 3rem;
  padding: 1.3rem;
}

body .footer h2 {
  font-family: var(--code-font);
  font-size: 1.5rem;
  padding: 0 1.3rem;
  color: #eeff02;
}

body .footer p {
  padding: 0 1.3rem;
  font-family: var(--code-font);
}

.gradient-back {
  min-height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#0011FF), color-stop(#8100D6), color-stop(#FF00BB), color-stop(#E1FF00), to(#00EEFF));
  background: linear-gradient(#0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
  background-size: 400% 400%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 88%;
  background-color: #686868d0;
  border-radius: .7rem;
  background-image: url(./img/splat5.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 4em;
}

.container .palette {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid var(--seperator);
  padding: 1em 2em 2em 2em;
}

.container .sect3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1em 0;
}

.container .sect3 .box-anim-con {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sect3 .slider-con-con {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid var(--seperator);
}

.container .sect3 .slider-con-con .slider-con {
  margin: 1em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 38vw;
  height: 38vh;
  display: flex;
  border: 3px solid var(--border-grey);
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
  border-radius: var(--border-radius);
}

.container .sect3 .slider-con-con .slider-con .slider-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(61, 61, 61, 0.589);
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.container .sect3 .slider-con-con .slider-con .slider-top .slider-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sect3 .slider-con-con .slider-con .slider-top .slider-txt .slider-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .sect3 .slider-con-con .slider-con .slider-top .slider-txt .slider-line span {
  color: var(--font-grey);
  font-family: var(--code-font);
}

.container .sect3 .slider-con-con .slider-con .slider-top .slider-txt .slider-line .bullet-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sect3 .slider-con-con .slider-con .slider-top .slider-txt .slider-line .bullet {
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-left: 1em;
}

.container .sect3 .slider-con-con .slider-con .slider-top .slider-txt .slider-line .one {
  background-color: #ee3ebf;
}

.container .sect3 .slider-con-con .slider-con .slider-top .slider-txt .slider-line .two {
  background-color: #ffee00;
}

.container .sect3 .slider-con-con .slider-con .slider-top .slider-txt .slider-line .three {
  background-color: #2eebf1;
}

.container .sect3 .slider-con-con .slider-con .slider-top p {
  color: var(--font-grey);
  font-family: var(--code-font);
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 0 .8em;
}

.container .sect3 .slider-con-con .slider-con .sliders {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.562);
  border-top: 0.5px solid var(--border-grey);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

@-webkit-keyframes radial-gradient {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes radial-gradient {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@-webkit-keyframes radial-box-anim {
  0% {
    -webkit-transform: translateX(300%) translateY(300%);
            transform: translateX(300%) translateY(300%);
  }
  25% {
    -webkit-transform: translateX(0%) translateY(300%);
            transform: translateX(0%) translateY(300%);
  }
  50% {
    -webkit-transform: translateX(0%) translateY(0%);
            transform: translateX(0%) translateY(0%);
  }
  75% {
    -webkit-transform: translateX(300%) translateY(0%);
            transform: translateX(300%) translateY(0%);
  }
  100% {
    -webkit-transform: translateX(300%) translateY(300%);
            transform: translateX(300%) translateY(300%);
  }
}

@keyframes radial-box-anim {
  0% {
    -webkit-transform: translateX(300%) translateY(300%);
            transform: translateX(300%) translateY(300%);
  }
  25% {
    -webkit-transform: translateX(0%) translateY(300%);
            transform: translateX(0%) translateY(300%);
  }
  50% {
    -webkit-transform: translateX(0%) translateY(0%);
            transform: translateX(0%) translateY(0%);
  }
  75% {
    -webkit-transform: translateX(300%) translateY(0%);
            transform: translateX(300%) translateY(0%);
  }
  100% {
    -webkit-transform: translateX(300%) translateY(300%);
            transform: translateX(300%) translateY(300%);
  }
}

.outer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38vw;
  height: 38vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#0011FF), color-stop(#8100D6), color-stop(#FF00BB), color-stop(#E1FF00), to(#00EEFF));
  background: linear-gradient(#0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
  border: 3px solid var(--border-grey);
  margin: 1em 0;
  border-radius: var(--border-radius);
}

.outer .inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid black;
  width: 25%;
  height: 25%;
  border-radius: var(--border-radius);
}

.keyframes-con {
  padding: 1.5rem 2.5rem 3rem 2.5rem;
  border-top: 1px solid var(--seperator);
}

.keyframes-con .code-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.keyframes-con .code-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3f3f3f;
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.keyframes-con .code-header .copy-btn {
  background-color: var(--font-grey);
  border: none;
  font-family: var(--code-font);
  font-size: 1rem;
  width: 5%;
  padding: .5em;
  border-radius: 0 var(--border-radius) 0 0;
}

.keyframes-con .code-header .copy-btn:hover {
  background-color: #7e7e7e;
  color: black;
}

.keyframes-con .code-header .name-input {
  background-color: transparent;
  font-family: var(--code-font);
  font-size: 1.2rem;
  color: var(--font-grey);
  padding: .8em;
  border-radius: var(--border-radius) 0 0 0;
  border: none;
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
}

.keyframes-con .copy-alert {
  color: var(--font-grey);
  font-size: 1rem;
  display: none;
  font-family: var(--code-font);
}

#keyframes, .keyframes-radial {
  background-color: rgba(19, 19, 19, 0.801);
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
  padding: 3rem 2.5rem;
  font-family: var(--code-font);
  color: #cecece;
  font-size: 1rem;
  list-style: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.keyframes-radial {
  display: none;
}

.plt-head2 {
  display: none;
}

.color-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2em 1em;
  border-bottom: 1px solid var(--seperator);
  background-color: rgba(175, 175, 175, 0.418);
  border-radius: .7rem .7rem 0 0;
}

.apply-clr-err {
  font-family: Arial, Helvetica, sans-serif;
  color: #fdfdfd;
  font-size: 1.2rem;
}

.color-tile-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: grey;
}

._0 {
  background-color: red;
}

.container h1 {
  color: white;
  font-family: var(--font);
  font-size: 1.8rem;
  letter-spacing: 3px;
  padding: .7rem .7rem .3rem .7rem;
}

.container h2 {
  color: #c8c8c8;
  font-family: var(--code-font);
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 0 0 .9rem .9rem;
}

.color-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: .9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color-tiles label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border-radius: .4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .5rem .7rem;
  cursor: pointer;
  min-width: 18%;
}

.color-tiles label:hover {
  -webkit-box-shadow: 2px 7px 15px #313131;
          box-shadow: 2px 7px 15px #313131;
}

.color-tiles div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #252525;
  font-family: var(--code-font);
  color: var(--font-grey);
  padding: .5em;
  border-radius: 0 0 .4rem .4rem;
}

.color-tiles div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #252525;
  font-family: var(--code-font);
  color: var(--font-grey);
  padding: .5em;
  border-radius: 0 0 .4rem .4rem;
}

.color-tiles label:hover div {
  background-color: black;
}

.color-tiles label:hover h2 {
  color: white;
}

.color-tiles input {
  cursor: pointer;
}

.color-tiles input:hover, .color-tiles span:hover {
  color: #ffffff;
  text-decoration: underline;
}

.color-tiles h2 {
  text-align: center;
  margin-top: 1em;
  font-size: .9rem;
}

input[type="color"] {
  width: 100%;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  padding: none;
  margin: none;
}

.angle-display-div {
  width: 20%;
  min-height: 10em;
  background: -webkit-gradient(linear, left top, left bottom, from(#0011FF), color-stop(#8100D6), color-stop(#FF00BB), color-stop(#E1FF00), to(#00EEFF));
  background: linear-gradient(#0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
  /* border-radius: var(--border-radius); */
  border: 0.1em solid var(--border-grey);
}

.scroll-knob {
  width: 10em;
  min-height: 10em;
  /* padding-bottom: 20%; */
  background-color: #272727;
  border-radius: 50%;
}

.grandparent {
  width: 130px;
  height: 130px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0011FF), color-stop(#8100D6), color-stop(#FF00BB), color-stop(#E1FF00), to(#00EEFF));
  background: linear-gradient(#0011FF, #8100D6, #FF00BB, #E1FF00, #00EEFF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .4em;
  border-left: 1px solid var(--border-grey);
  border-radius: 0 var(--border-radius) 0 0;
}

.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.parent .child-con {
  width: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parent img.up {
  width: 70%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1d1d1d8f;
  color: var(--font-grey);
  font-family: var(--code-font);
  padding: .8em 1em;
  margin: .2em;
  border-radius: 9999px;
  border: 0.15rem solid black;
  cursor: pointer;
  letter-spacing: .04rem;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 .8em;
}

.teal-hov:hover, .teal-hov:active, .teal-hov:focus {
  background-color: rgba(0, 0, 0, 0.883);
  border: 0.15rem solid #01ffff;
  color: white;
}

.active {
  background-color: rgba(0, 0, 0, 0.883);
  border: 0.15rem solid #01ffff;
  color: white;
}

.purp-hov:hover, .purp-hov:active {
  background-color: rgba(0, 0, 0, 0.883);
  border: .15rem solid #fbff00;
  color: white;
}

.mid-hov:hover, .mid-hov:active {
  background-color: rgba(0, 0, 0, 0.883);
  border: .15rem solid #FF00BB;
  color: white;
}

input[type="range"] {
  -webkit-appearance: none;
  cursor: pointer;
  padding: .8em 1em;
  border-radius: 5rem;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #d6d6d6;
  height: 5px;
}

input[type="range"]::-webkit-slider-runnable-track:hover {
  background: #9b9b9b;
}

input[type="range"]::-moz-range-track {
  background: #d6d6d6;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin-top: -5px;
  border-radius: 50%;
  border: 1px solid #666666;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  margin-top: -5px;
  border-radius: 50%;
  border: 1px solid #666666;
}

.speed-input::-webkit-slider-thumb {
  background-color: #ee3ebf;
}

.gradient-angle::-webkit-slider-thumb {
  background-color: #ffee00;
}

.scroll-angle::-webkit-slider-thumb {
  background-color: #2eebf1;
}

.speed-input::-webkit-slider-thumb:hover {
  background-color: #c50091;
  cursor: pointer;
}

.gradient-angle::-webkit-slider-thumb:hover {
  background-color: #b39800;
  cursor: pointer;
}

.scroll-angle::-webkit-slider-thumb:hover {
  background-color: #00bdbd;
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  font-family: "Open Sans", Arial, "Helvetica Neue", sans-serif;
}

.header h1 {
  padding: 0 .03em;
  font-size: 3.3rem;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 3px;
  padding: .6em 0 .3em 0;
}

.header h2 {
  font-family: var(--code-font);
  font-size: 1.3rem;
  color: black;
  padding-bottom: 1em;
}

.splat14 {
  width: 3.5rem;
  -webkit-filter: invert(40%);
          filter: invert(40%);
}
/*# sourceMappingURL=main.css.map */